<div>
<h2>Project VideoGen IDM 2018/2019 - Dongé - Gohier</h2>
<h3>Click on "Generate" to create a new random video</h3>
<br><br>
<br><br>

<a ng-click="generate()" class="btn btn-danger btn-xs pull-left">Generate</a>
<br><br>
<br><br>

<a href="public/video/{{generatedVideo.output}}" {{generatedVideo.output}} target="_blank">VIDEO : -> {{generatedVideo.output}} <- </a>



</div>
